@(products: List[GameItem], filter: GameFilter)

@main("Becky's Games: Our Games") {

    <div id="options" class="container">
        <div class="row">
            <form onclick="/game" method="post">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="minPlayers">Min players:</label>
                        <select class="form-control" id="minPlayers" name="minPlayers">
                            @for(i <- 1 to 8) {
                                @if(i == filter.minPlayers) {
                                    <option selected="selected">@i</option>
                                } else {
                                    <option>@i</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="maxPlayers">Max players:</label>
                        <select class="form-control" id="maxPlayers" name="maxPlayers">
                            @for(i <- 1 to 8) {
                                @if(i == filter.maxPlayers) {
                                    <option selected="selected">@i</option>
                                } else {
                                <option>@i</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="minPrice">Min price:</label>
                        <input type="text" id="minPrice" name="minPrice" class="form-control" value=@filter.minPrice>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="maxPrice">Max price:</label>
                        <input type="text" id="maxPrice" name="maxPrice" class="form-control" value=@{f"${filter.maxPrice}%3.2f"}>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
                <div class="col-md-2">
                    <a href="/games">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </div>
        </div>
    </div>

    <div id="games" class="row list-group">
        @for(product <- products) {
            @if(filter.tags.isEmpty || product.tags.containsSlice(filter.tags)) {
                <div class="item  col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <a href=@{s"/products/${product.id}"}>
                            <img class="group list-group-image" src=@routes.Assets.at(s"images/${product.imageUrl}") alt=@{product.imageUrl} style="width: 100px; height: 100px;" />
                        </a>
                        <div class="caption" style="text-align: center;">
                            <a href=@{s"/products/${product.id}"}>
                                <h4 class="group inner list-group-item-heading">
                                    @product.name
                                </h4>
                            </a>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        @{f"£${product.price}%3.2f"}
                                    </p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="#">
                                        Add to cart<span class="glyphicon glyphicon-shopping-cart"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

}