@(products: Array[(String, String, String, Double, Array[String])], tag: String)


@main("Becky's Games: Our Games") {

    <div id="games" class="row list-group">
        @for(product <- products) {
            @if(tag == "all" || product._5.contains(tag)) {
                <div class="item  col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <a href=@{s"/products/${product._1}"}>
                            <img class="group list-group-image" src=@routes.Assets.at(s"images/${product._3}") alt=@{product._3} style="width: 100px; height: 100px;" />
                        </a>
                        <div class="caption" style="text-align: center;">
                            <a href=@{s"/products/${product._1}"}>
                                <h4 class="group inner list-group-item-heading">
                                    @product._1
                                </h4>
                            </a>
                            <p class="group inner list-group-item-text">
                                @product._2
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        @{f"£${product._4}%3.2f"}
                                    </p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="#">
                                        Add to cart<span class="glyphicon glyphicon-shopping-cart"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

}