@(product: GameItem)


@main(product.name) {
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="group list-group-image" src=@routes.Assets.at(s"images/${product.imageUrl}") alt=@{product.imageUrl} style="width: 400px; height: 400px;" />
            </div>
            <div class="col-md-6">
                <h4 class="group inner list-group-item-heading">
                    @product.name
                </h4>
                <p class="group inner list-group-item-text">
                    @product.description
                </p>
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <p class="lead">
                        @{f"£${product.price}%3.2f"}
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <a class="btn btn-success" href=@{s"/basket/${product.id}"}>
                            Add to basket<span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}